@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 80px;
    flex-shrink: 0;
    background-color: #303030;
    color: #ddd;
}

header h1 {
    font-size: 48px;
    font-weight: 900;
}

main, #game, #challenge, #endScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#game, #challenge {
    align-self: center;
    flex-grow: 1;
    justify-content: center;
    width: 512px;
    padding: 16px;
}

#game {
    display: none;
}

#endScreen {
    display: none;
}

main {
    flex: 1;
    gap: 0px;
    color: #303030;
    background-color: #909090;
}

#challenge img, .versus img, #endScreen img {
    width: 128px;
    border-radius: 128px;
    background-color: #303030;
    border: 3px solid #303030;
    padding: 8px;
    margin-bottom: 8px;
}

#playButton, #playAgainButton {
    padding: 8px 16px;
    border: 3px solid #303030;
    border-radius: 16px;
    background-color: #303030;
    box-shadow: 5px 5px 5px #101010;
    color: #ddd;
    font-size: 24px;
    font-weight: 900;
    margin-top: 16px;
}

.versus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.name {
    font-size: 24px;
}

.round-title {
    font-size: 24px;
    font-weight: bold;
    background-color: #303030;
    color: #ddd;
    padding: 8px 16px;
    border: 3px solid #303030;
    border-radius: 16px;
}

#vsText {
    font-size: 48px;
    font-weight: 900;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}

#message, #challenge p, #endScreenText {
    padding: 16px;
    background-color: #303030;
    border: 3px solid #303030;
    color: #ddd;
    border-radius: 16px;
    font-size: 24px;
}

#message {
    margin: 16px 0px;
}

.choices {
    display: flex;
    gap: 16px;
}

.imgBtn {
    border: 3px solid #303030;
    border-radius: 128px;
    width: 116px;
    background-color: #303030;
    padding: 8px;
    box-shadow: 5px 5px 5px #101010;
}

.imgBtn:hover, #playButton:hover, #playAgainButton:hover {
    border-color: #ddd;
    cursor: pointer;
    filter: brightness(1.2);
}

.imgBtn:active, #playButton:active, #playAgainButton:active {
    filter: brightness(0.8);
}

#question {
    padding: 8px;
    font-size: 20px;
}

#bottomRightPanel {
    align-self: flex-end;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.stats div {
    width: 72px;
    border: 1px solid #303030;
    border-radius: 8px 8px 0px 0px;
}

.stats div h2 {
    background-color: #303030;
    border: 1px solid #303030;
    border-radius: 8px 8px 0px 0px;
    color: #ddd;
    font-size: 16px;
}

footer {
    font-size: 18px;
    font-weight: 300;
}
